# node_modules
node_modules/

# build outputs
dist/
dist-ssr/
*.local

# environment variables
.env
.env.*
env.txt

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Models
models.json
models.txt

# Debug
debug.html
debug_live.js
*.log
